header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    opacity: 1;
    color: black;
    font-family: "Arial", Times, sans-serif;
    list-style-type:none;
    height: 90px;
}

nav {
    display: flex;
}

nav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: lightgray;
    color: black;
}
